certifi==2019.11.28
chardet==3.0.4
cupy-cuda114==10.0.0
cycler==0.11.0
dbus-python==1.2.16
distro==1.4.0
fastrlock==0.8
ffmpeg==1.4
fonttools==4.28.5
idna==2.8
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.22.0
packaging==21.3
Pillow==8.4.0
protobuf==3.19.1
pydub==0.25.1
PyGObject==3.36.0
pyparsing==3.0.6
python-dateutil==2.8.2
requests==2.22.0
scipy==1.7.3
six==1.14.0
ssh-import-id==5.10
urllib3==1.25.8
